requests>=2.28
beautifulsoup4>=4.11
pandas>=1.4
ipeadatapy>=0.1.7  
matplotlib>=3.5
streamlit>=1.10
Pillow>=9.0
dash
yfinance
scikit-learn>=0.24
plotly.express as px
seaborn as sns
numpy as np
sklearn.model_selection 
train_test_split
sklearn.ensemble
RandomForestRegressor
sklearn.metrics
mean_squared_error
